@import "../../../../styles/common-styles";
:host {
    display: block;
    position: relative;
    width: 54px;
    height: 30px;
}

input[type="checkbox"] {
    display: none;
}

.toggle-button-switch {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100;
    transition: left 0.3s;
}

.toggle-button-text {
    overflow: hidden;
    background-color: #999;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    transition: background-color 0.3s;
}

.toggle-button-text-on,
.toggle-button-text-off {
    float: left;
    width: 50%;
    height: 100%;
    line-height: 20px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

input[type="checkbox"]:checked ~ .toggle-button-switch {
    left: 30px;
}

input[type="checkbox"]:checked ~ .toggle-button-text {
    background-color: $orange-color;
}
