@import "../../../styles/common-styles";
.card{
    background-color: #333!important;
}
.request-collapse-head{
    padding-right: 10px;
    padding-left: 10px;
    p{
        direction: rtl;
        width: 100%;
        font-size: 13px;
    }
    .col{
        padding: 0px;
        p{
            text-align: right;
        }
    }
    h6{
        text-align: right;
        margin-bottom: 10px;
    }
}
.card-body-request{
    padding:25px;
    background: #333;
}
.card-header{
    background: #333;
}
.float-right{
    svg-icon{
        margin-left: 10px;
    }
}
.remain-time{
    direction: ltr!important;
}
.request-notice{
    color:$white-color;
    text-align: center;
    font-size: 12px;
    direction: rtl;
}
.requested-services-text{
    color: #fff;
    text-align: right;
    font-size: 14px;
    direction: rtl;
}
.request-text{
    color: $white-color;
    font-size: 14px;
    text-align: right;
    direction: rtl;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.request-box{
    border-radius: 30px;
    background-color: #777;
    svg-icon{
        margin-top: 5px;
    }
    margin-bottom: 20px;
}
.request-price{
    color: $orange-color;
    margin-bottom: 10px;
    margin-top: 10px;
    direction: rtl;
    float: left;
}
.repair-shop-cost{
    color: $orange-color;
    margin-bottom: 10px;
    margin-top: 10px;
    direction: rtl;
    float: right;
}
.customer-payment{
    text-align: left!important;
    margin-top: 30px;
}
.arrow-down-base{
    margin-left: 10px;
}
.total-cost-box{
    border-radius: 30px;
    background-color: #777;
    margin-top: 20px;
}
.accept-request-box{
    margin-top: 20px;
    h4{
        color: $orange-color;
        text-align: center;
    }
}

.button-basic{
    height: 30px;
    float: right;
}
strong{
    direction: rtl;
}
