.schedule-table{
    width: 100%;
    border-collapse: separate;
    thead{
        th{
            text-align: center;
            width: calc(100% / 8);
            font-size: 11px;
            color: white;
            &:last-child{
                color: #868e96;
            }
        }
    }
    tbody{
        td{
            text-align: center;
            width: calc(100% / 8);
            background: #868e96;
            padding: 10px;
            border-radius: 6px;

            &:last-child{
                background: transparent;
                color: #fb8d11;
            }
        }
    }
}

.actions{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse
}

.vacationsBtn{
    height: 40px;
    // line-height: 40px;
    font-size: 12px;
    border: 0;
    border-radius: 50px;
    padding: 6px 12px;
    width: 50%;
    margin: 5px;
    background: linear-gradient(270deg, rgba(255,193,7,1) 0%, rgba(253,126,20,1) 100%);
    color: white;
    font-weight: bold;
}
.saveBtn{
    height: 40px;
    // line-height: 40px;
    font-size: 12px;
    border: 0;
    border-radius: 50px;
    padding: 6px 12px;
    width: 25%;
    margin: 5px;
    background: #4cac4c;
    font-weight: bold;
    color: white;
}

.backBtn{
    height: 40px;
    // line-height: 40px;
    font-size: 12px;
    border: 0;
    border-radius: 50px;
    padding: 6px 12px;
    width: 25%;
    margin: 5px;
    background: #999;
    font-weight: bold;
    color: white;
}